{% extends 'products/index.html.twig' %}

{% block lien %}
<form method="get" action="/product/byFilters" class="search-form d-flex w-100">
{% endblock %}
{% block productCrud %}
    <div class="d-flex flex-column align-items-center gap-3 mb-4">
        <h1 class="display-3">Product Index</h1>
        <a href="{{ path('app_product_new') }}" class="btn btn-outline-secondary">Add New</a>
    </div>
{% endblock %}
{% block navigationIcons %}
{% endblock %}

{% block card %}
<div class="card mb-4 p-3 position-relative costum-card" >
    {{ parent() }}
</div>
{% endblock %}
{% block lienView %}
    <a href="{{ path('app_product_show', { id: product.id }) }}"
       class="stretched-link"
       style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;">
    </a>
{% endblock %}


{% block empty %}
    <a href="/product" class="text-white text-center d-block">No matching results...</a>
{% endblock %}
{% block heartManager %}
{% endblock %}


