{% extends 'products/index.html.twig' %}

{% block lien %}
<form method="get" action="/product/byFilters" class="search-form d-flex w-100">
{% endblock %}
{% block productCrud %}
    <div class="d-flex flex-column align-items-center gap-3 mb-4">
        <h1 class="display-3">Product Index</h1>
        <a href="{{ path('app_product_new') }}" class="btn btn-outline-secondary">Add New</a>
    </div>
{% endblock %}
{% block navigationIcons %}
{% endblock %}

    {%block card %}
        <div class="card" style="background-color: transparent; border: none;">
             {{ parent() }}
        </div>
    {%endblock%}
{% block lienView %}
    <a href="{{ path('app_product_show', { id: product.id }) }}"
       class="stretched-link">
    </a>
{% endblock %}


{% block empty %}
    <a href="/product" class="text-white text-center d-block">No matching results...</a>
{% endblock %}
{% block heartManager %}
{% endblock %}


