{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}
{% block titleEmoji %}{% endblock %}
{% block body %}
    <div class="text-center mb-4">
        <h1 class="display-4">Create new product</h1>
    </div>

    {{ include('product/_form.html.twig') }}
    <div class="container">
        <a href="{{ path('app_product_index') }}" class="btn btn-secondary">back to list</a>
    </div>
{% endblock %}
