@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(30, 30, 30);
    color: white;
}
.badge{
    position: absolute;
    color : white;
    background-color: rgb(255, 0, 0);
    border-radius: 7px;
    width: fit-content;
    height: 15px;
    top: 55%;
    left: 55%;
    font-size: 10px;
    padding: 0;
    margin:0;
    text-align: center;
    line-height: 13px;
    padding-left: 4px;
    padding-right: 4px;
}

.big-badge{
    position: absolute;
    color : white;
    background-color: rgb(221, 0, 77);
    border-radius: 20px;
    width: fit-content;
    min-width: 40px;
    height: 40px;
    top: 2%;
    right: -5%;
    font-size: 25px;
    padding: 0;
    margin:0;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 30deg;
    font: bold 20px Arial, sans-serif;
}

#sidebar{
    width: 20%;
}
#price-slider .noUi-connect {
    background: rgb(190, 0, 47);
}

#price-slider .noUi-handle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: -7px;
  background: rgb(30,30,30);
  border: 2px solid #dc3545;
  box-shadow: none;
}

#price-slider .noUi-tooltip {
  background: rgb(30,30,30);
  color: white;
}

#price-slider .noUi-base {
    background: rgb(30,30,30);
    border: 1px solid rgb(30,30,30);
}
#price-slider .noUi-handle::before,
#price-slider .noUi-handle::after {
  display: none;
}
.heart:hover {
    color: red;
}
.swiper-wrapper {
width: 100%;
height: max-content !important;
padding-bottom: 64px !important;
-webkit-transition-timing-function: linear !important;
transition-timing-function: linear !important;
position: relative;
}
.swiper-pagination-bullet {
}
.swiper-pagination-bullet-active {
background: #cd0526 !important;
}
.swiper-pagination{
}
td, th{
    vertical-align: middle;
    text-align: center;
}
.costum-card{
    background-color: rgb(20, 20, 20);
    color: white;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.costum-card:hover {
    transform: scale(1.06);
}
.costum-card-img{
    max-height: 20em;
    object-fit: contain;
    width: 100%;
}
.pagination-knob{
    border: 1px solid rgb(100, 100, 100);
    border-radius: 50%;
    aspect-ratio: 1/1;
}